<h3>スケジュール新規作成</h3>

<%= render "shared/error", obj: @post %>

<%= form_with model: @post do |f| %>

<table border="2">
  <tr>
    <th><%= f.label :title ,"タイトル" %></th>
    <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <th><%= f.label :startday ,"開始日" %></th>
    <td><%= f.date_field :startday %></td>
  </tr>

  <tr>
    <th><%= f.label :endday ,"終了日" %></th>
    <td><%= f.date_field :endday %></td>
  </tr>

  <tr>
    <th><%= f.label :allday ,"終日" %></th>
    <td><%= f.check_box :allday ,{checked: true}, "true", "false" %></td>
  </tr>

  <tr class = "textarea">
    <th><%= f.label :contents ,"スケジュールメモ" %></th>
    <td><%= f.text_area :contents %></td>
  </tr>

</table>

<div>
  <p><%= f.submit class: 'link'%></p>
  <ul>
    <li><%= link_to "一覧に戻る", :posts %></li>
    <li><%= link_to "スケジュール新規作成", :new_post %></li>
  </ul>
</div>
<% end %>

